

.attendance-members h1{
    color: #aa8e8d;
    text-align: center;
    font-size: 32px;
    font-weight: 900;
}

.attendance-members input[type=checkbox] {
    display: none;
}
.attendance-members label{
    background: #ae5f75;
    height: 69px;
    width: 100%;
    display: block;
    border-bottom: 1px solid #2C3E50;
    color: #fff;
    text-transform: capitalize;
    font-weight: 900;
    font-size: 11px;
    letter-spacing: 1px;
    /* text-indent: 20px; */
    cursor: pointer;
    transition: all 0.7s ease;
    position: relative;
    padding: 5px;
    display: flex;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    justify-content: space-between;
    align-items: center;
    padding: 20px 20px;
}
.attendance-members label h2 span{
    display: block;
    font-size: 12px;
    text-transform: capitalize;
    font-weight: normal;
    color: #fff;
}
.attendance-members label:before{
    content:"";
    width: 20px;
    height: 20px;
    background: #fff;
    display: block;
    position: absolute;
    border-radius: 100%;
    right: 20px;
    top: 30%;
    transition: border 0.7s ease
}
.attendance-members input:checked + label{
    background: #6d335c;
    border-bottom: 1px solid #34495E;
    color: #d37b79;
}
.attendance-members input:checked + label h2 span{
    color: #f6bd66;
}
.attendance-members input:checked + label:before{
    background: url("https://i.imgur.com/eoPQ05r.png") no-repeat center center;
}