
<div class="container" th:fragment="all" xmlns:th="http://www.w3.org/1999/xhtml">
    <form class="attendance-members"
          th:action="'/organization/'+ ${organization.id} + '/activity/attendance'"
          th:object="${activityMembers}"
          method="post" accept-charset="UTF-8">
        <!-- title -->
        <h1>Members</h1>

        <input type='hidden' th:field="*{organization}" />
        <input type='hidden' th:field="*{activity}" />
        <input type='hidden' th:field="*{attendance}" />


        <div class="col-sm-12" th:each="member,row : ${activityMembers.members}">
            <input type='hidden'  th:value="${activityMembers.members[__${row.index}__].id}" th:name="${'members['+ row.index +'].id'}"/>


            <input type='hidden'  th:value="${activityMembers.members[__${row.index}__].firstName}" th:name="${'members['+ row.index +'].firstName'}"/>
            <input th:attr="id='label-'+${row.count}" type='checkbox'
                   th:name="${'members['+ row.index +'].present'}"
                   th:checked="${member.present}"
                    />

            <label class="col-sm-12 no-padding" th:attr="for='label-'+${row.count}">
                <h2 class="col-sm-12 no-padding" th:text="${member.firstName} + ' ' + ${member.lastName}"></h2>
            </label>
        </div>
        <div class="col-sm-12">
            <button type="submit" class="btn btn-default">Save</button>
        </div>

    </form>
</div>